In [1]:
# lst = [1,2,3,4,5,6,7] list
# t = (1,2,3,4,5,6,7)   tuple
# s = { 1,2,3,.......}  set

In [2]:
A = {1,2,3,4}
B = {3,4,5,6}
print(type(A))
print(len(B))

<class 'set'>
4

In [3]:
A.intersection(B)

{3, 4}

In [4]:
A.union(B)

{1, 2, 3, 4, 5, 6}

In [5]:
A.intersection_update(B)

In [6]:
A

{3, 4}

In [7]:
A.add(1)

In [8]:
A

{1, 3, 4}

In [9]:
A.add(1)

In [10]:
A

{1, 3, 4}

In [11]:
A.add(2)

In [12]:
A

{1, 2, 3, 4}

In [15]:
A[0]

TypeError: 'set' object is not subscriptable

In [14]:
1 in A

True

In [16]:
A

{1, 2, 3, 4}

In [17]:
A.remove(4)

In [18]:
A

{1, 2, 3}

In [19]:
A

{1, 2, 3}

In [20]:
B

{3, 4, 5, 6}

In [21]:
A.update(B)

In [22]:
A

{1, 2, 3, 4, 5, 6}

In [23]:
lst = [1,2,3,4,5,4,3,2,4,5,6,7,6,5,4,3,2,2,3,4,5,6,5,4]
set(lst)

{1, 2, 3, 4, 5, 6, 7}

## Dict

In [24]:
d = {"k1": 10 , "k2":20 , "k3":"Amit"}

In [25]:
d["k2"]

20

In [31]:
d.get("k1")

10

In [26]:
d["k2"] = 50

In [27]:
d

{'k1': 10, 'k2': 50, 'k3': 'Amit'}

In [28]:
d.keys()

dict_keys(['k1', 'k2', 'k3'])

In [30]:
d.values()

dict_values([10, 50, 'Amit'])

In [32]:
d = {"k1":[1,2,3,4,5,6,7,{1:1 , 2:[1,2,3,4,5,{"k2":["amit" , "learning" , [2,3,4,5,6,{"k3":["  Amit_learning  "]}]]}]}]}

In [33]:
d

{'k1': [1,
  2,
  3,
  4,
  5,
  6,
  7,
  {1: 1,
   2: [1,
    2,
    3,
    4,
    5,
    {'k2': ['amit',
      'learning',
      [2, 3, 4, 5, 6, {'k3': ['  Amit_learning  ']}]]}]}]}

In [55]:
d["k1"][-1][2][-1]["k2"][-1][-1]["k3"].append("deep_learning")

In [59]:
d["k1"][-1][2][-1]["k2"][-1][-1]["k3"][0] = d["k1"][-1][2][-1]["k2"][-1][-1]["k3"][0].strip().upper()

In [60]:
d

{'k1': [1,
  2,
  3,
  4,
  5,
  6,
  7,
  {1: 1,
   2: [1,
    2,
    3,
    4,
    5,
    {'k2': ['amit',
      'learning',
      [2, 3, 4, 5, 6, {'k3': ['AMIT_LEARNING', 'deep_learning']}]]}]}]}

In [61]:
v = d["k1"][-1][2][-1]["k2"][-1][-1]["k3"][1].strip().upper()

In [62]:
v

'DEEP_LEARNING'

In [63]:
d["k1"][-1][2][-1]["k2"][-1][-1]["k3"][1] = v

In [64]:
d

{'k1': [1,
  2,
  3,
  4,
  5,
  6,
  7,
  {1: 1,
   2: [1,
    2,
    3,
    4,
    5,
    {'k2': ['amit',
      'learning',
      [2, 3, 4, 5, 6, {'k3': ['AMIT_LEARNING', 'DEEP_LEARNING']}]]}]}]}

In [65]:
d.items()

dict_items([('k1', [1, 2, 3, 4, 5, 6, 7, {1: 1, 2: [1, 2, 3, 4, 5, {'k2': ['amit', 'learning', [2, 3, 4, 5, 6, {'k3': ['AMIT_LEARNING', 'DEEP_LEARNING']}]]}]}])])

In [68]:
dt = {"k1":12 , 1:"ahmed" , "k3":"amit"}

In [69]:
dt.items()

dict_items([('k1', 12), (1, 'ahmed'), ('k3', 'amit')])

In [74]:
lst = [('k1', 12), (1, 'ahmed'), ('k3', 'amit')]

In [75]:
dict(lst)

{'k1': 12, 1: 'ahmed', 'k3': 'amit'}

## for loop

In [76]:
lst = [1,2,3,4,5]
for i in lst:
    print(i)
    print("*" * 20)
    print(i * i )
    print("*" * 20)
    s = i + 5
    print(s)
    print("*" * 20)

1
********************
1
********************
6
********************
2
********************
4
********************
7
********************
3
********************
9
********************
8
********************
4
********************
16
********************
9
********************
5
********************
25
********************
10
********************

In [77]:
lst = [1,2,3,4,5]
for i in lst:
    print(i)

1
2
3
4
5

In [79]:
s = 0 
for i in lst:
    s = s + i
print(s)

15

In [80]:
s = 0 
for i in lst:
    s += i
print(s)

15

In [82]:
# for i in range(start = 0 , end , step = 1):

for i in range(1 , 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [86]:
for i in range(1,101):
    if i % 2 == 0:
        print(f"number {i} is Even")
    else:
        print(f"number {i} is Odd")

number 1 is Odd
number 2 is Even
number 3 is Odd
number 4 is Even
number 5 is Odd
number 6 is Even
number 7 is Odd
number 8 is Even
number 9 is Odd
number 10 is Even
number 11 is Odd
number 12 is Even
number 13 is Odd
number 14 is Even
number 15 is Odd
number 16 is Even
number 17 is Odd
number 18 is Even
number 19 is Odd
number 20 is Even
number 21 is Odd
number 22 is Even
number 23 is Odd
number 24 is Even
number 25 is Odd
number 26 is Even
number 27 is Odd
number 28 is Even
number 29 is Odd
number 30 is Even
number 31 is Odd
number 32 is Even
number 33 is Odd
number 34 is Even
number 35 is Odd
number 36 is Even
number 37 is Odd
number 38 is Even
number 39 is Odd
number 40 is Even
number 41 is Odd
number 42 is Even
number 43 is Odd
number 44 is Even
number 45 is Odd
number 46 is Even
number 47 is Odd
number 48 is Even
number 49 is Odd
number 50 is Even
number 51 is Odd
number 52 is Even
number 53 is Odd
number 54 is Even
number 55 is Odd
number 56 is Even
number 57 is Odd
number 58 is Even
number 59 is Odd
number 60 is Even
number 61 is Odd
number 62 is Even
number 63 is Odd
number 64 is Even
number 65 is Odd
number 66 is Even
number 67 is Odd
number 68 is Even
number 69 is Odd
number 70 is Even
number 71 is Odd
number 72 is Even
number 73 is Odd
number 74 is Even
number 75 is Odd
number 76 is Even
number 77 is Odd
number 78 is Even
number 79 is Odd
number 80 is Even
number 81 is Odd
number 82 is Even
number 83 is Odd
number 84 is Even
number 85 is Odd
number 86 is Even
number 87 is Odd
number 88 is Even
number 89 is Odd
number 90 is Even
number 91 is Odd
number 92 is Even
number 93 is Odd
number 94 is Even
number 95 is Odd
number 96 is Even
number 97 is Odd
number 98 is Even
number 99 is Odd
number 100 is Even

In [89]:
lst = []
for i in range(5):
    x = int(input("Enter the number "))
    lst.append(x)

Enter the number 12
Enter the number 13
Enter the number 14
Enter the number 15
Enter the number 16

In [90]:
print(lst)

[12, 13, 14, 15, 16]

In [91]:
lst = []
for i in range(5):
    lst.append(int(input("Enter the number ")))
print(lst)

Enter the number 12
Enter the number 13
Enter the number 14
Enter the number 15
Enter the number 16
[12, 13, 14, 15, 16]

In [93]:
ill = "!@#$%^&*()? ?|~"
user_name =input("Enter Username ")
clean = ''
for i in user_name:
    if i in ill:
        clean +=''
    else:
        clean +=i
print(clean)

Enter Username amit learning!@#$%^&
amitlearning

In [95]:
lst = [1,2,3,4,5,6,7,8,9,10]
for i in lst :
    if i == 5:
        break
    else:
        print(i)

1
2
3
4

In [106]:
lst = [1,2,3,4,5,6,7,8,9,10]
for i in lst :
    if i == 5 or i == 10:
        continue
    else:
        print(i)

1
2
3
4
6
7
8
9

In [107]:
lst = [1,2,3,4,5,6,7,8,9,10]
for i in lst :
    if i == 5 or i == 10:
        pass
        print(i)
    else:
        print(i)

1
2
3
4
5
6
7
8
9
10

In [108]:
lst = [1,2,3,4]
lst2 = []
for i in lst :
    lst2.append(i * 2 )

In [109]:
lst2

[2, 4, 6, 8]

In [112]:
[i* 2 for i in lst]

[2, 4, 6, 8]

In [116]:
x = True if 2==2 else False

In [117]:
x

True

In [118]:
lst = [[1,2,3] , [2,3,4]]

In [126]:
s_lst = 0
for i in lst:
    s = 0
    for j in i:
        s = s+ j 
    print(s)
    s_lst += s
print(s_lst)

6
9
15

In [133]:
for i in lst :
    print(sum(i))

6
9

In [137]:
for i in lst :
    s = 0
    for j in i:
        s += j
    print(s)

6
9

In [134]:
i = [1,2,3]
s = 0
for j in i:
    s += j

In [135]:
s

6

In [142]:
sum([sum(i) for i in lst])

15

In [141]:
s_l = 0
for i in lst :
    s = 0
    for j in i:
        s += j
    print(s)
    s_l = s_l + s
print(s_l)

6
9
15

## Function

In [157]:
def add(n1 , n2, n3):
    s = n1 + n2  + n3
    return s

In [158]:
x = add(10,10,20)

In [159]:
x

40

In [162]:
def add(*n):
    s = 0
    for i in n:
        s+=i
    return s

In [164]:
add(1,2,3,4,5,6 ,3,4,5,6,67,5,4,3,3,4,6,6,4,4,4,6,7,5)

167

In [165]:
def check(n):
    if n % 2 == 0:
        return "Even"
    else:
        return "Odd"

In [166]:
check(12)

'Even'

In [168]:
# map(fun , seq)
lst = [1,2,3,4,5,6,7,8,9,10]
list(map(check , lst))

['Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even']

In [171]:
def check_even(n):
    if n % 2 == 0:
        return True
    else:
        return False

list(filter(check_even , lst))

[2, 4, 6, 8, 10]

In [172]:
list(filter(lambda x : x % 2 ==0 , lst))

[2, 4, 6, 8, 10]

In [173]:
lam = lambda x , y : x + y

In [174]:
lam(12,12)

24

In [176]:
%run Session_4_python.ipynb

In [177]:
check("lalalalalala")

False

In [178]:
add(1,2,3,4,5,6)

21

In [182]:
import Session_4_python as sp

In [183]:
sp.add(1,2,3,4,5)

15

In [181]:
Session_4_python.check("lala")

False

In [184]:
from Session_4_python import check , add

In [185]:
check("kdfkffk")

False

In [186]:
import Session_4_python
dir(Session_4_python)

['__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'add',
 'check']

In [187]:
import random

In [188]:
dir(random)

['BPF',
 'LOG4',
 'NV_MAGICCONST',
 'RECIP_BPF',
 'Random',
 'SG_MAGICCONST',
 'SystemRandom',
 'TWOPI',
 '_ONE',
 '_Sequence',
 '_Set',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_accumulate',
 '_acos',
 '_bisect',
 '_ceil',
 '_cos',
 '_e',
 '_exp',
 '_floor',
 '_index',
 '_inst',
 '_isfinite',
 '_log',
 '_os',
 '_pi',
 '_random',
 '_repeat',
 '_sha512',
 '_sin',
 '_sqrt',
 '_test',
 '_test_generator',
 '_urandom',
 '_warn',
 'betavariate',
 'choice',
 'choices',
 'expovariate',
 'gammavariate',
 'gauss',
 'getrandbits',
 'getstate',
 'lognormvariate',
 'normalvariate',
 'paretovariate',
 'randbytes',
 'randint',
 'random',
 'randrange',
 'sample',
 'seed',
 'setstate',
 'shuffle',
 'triangular',
 'uniform',
 'vonmisesvariate',
 'weibullvariate']

In [229]:
random.randint(1,10)  #end included

1

In [230]:
random.random() #0 to 1

0.5852831395324684

In [231]:
x = ["amit" , "leaning" , "deep"]
random.shuffle(x)

In [232]:
x

['amit', 'leaning', 'deep']

In [233]:
lst = [1,2,3,4,5,6,7,8]
random.shuffle(lst)
lst

[5, 2, 3, 8, 7, 1, 6, 4]

In [234]:
random.choice(x)

'deep'

In [235]:
random.randrange(1,10) #end not included

2

In [238]:
x = "G"
def outer():
    x = "L"
    print(x)

In [239]:
outer()
print(x)

L
G

In [240]:
x = "G"
def outer():
    global x
    x = "L"
    print(x)

In [241]:
outer()
print(x)

L
L

In [247]:
x = "G"
def outer():
    x = "L"
    print(x)
    def inner():
        nonlocal x
        x = "inner"
        print(x)
    inner()
    print(x)

In [248]:
outer()
print(x)

L
inner
inner
G

In [249]:
x = "G"
def outer():
    x = "L"
    print(x)
    def inner():
        global x
        x = "inner"
        print(x)
    inner()
    print(x)

In [250]:
outer()
print(x)

L
inner
L
inner

In [252]:
try:
    print("asdfghjk")
except:
    print("check your var")

asdfghjk

In [258]:
try:
    print("asdfghjk")
except:
    print("check your var")
else:
    print("good")
finally:
    print("Great")

asdfghjk
good
Great

In [259]:
function1 = lambda x : x * x

In [260]:
function1(2)

4

In [261]:
h_o = lambda x , function1 : x + function1(x)

In [263]:
h_o(2 , lambda x : x * x )

6

In [264]:
def f(n):
    if n == 1:
        return 1 
    else:
        return n * f(n-1)

In [265]:
f(5)

120

In [1]:
x = 0 
while x <= 20:
    print(x , " Amit ")
    x += 1

0  Amit
1  Amit
2  Amit
3  Amit
4  Amit
5  Amit
6  Amit
7  Amit
8  Amit
9  Amit
10  Amit
11  Amit
12  Amit
13  Amit
14  Amit
15  Amit
16  Amit
17  Amit
18  Amit
19  Amit
20  Amit

In [5]:
# f = open("test.txt" , "x")

In [6]:
f = open("test.txt" , "r")

In [7]:
f.read()

'my name is amit'

In [14]:
# f.readlines()

In [15]:
f.write("my name is ahmed")

UnsupportedOperation: not writable

In [16]:
f.close()

In [17]:
f = open("test.txt" , "w")

In [19]:
# f.read()

In [20]:
f.write("my name is ahmed")

16

In [21]:
f.close()

In [22]:
f = open("test.txt" , 'a')

In [23]:
f.write("\n my age is 30")

14

In [24]:
f.close()

In [26]:
with open("test.txt") as f:
    print(f.readlines())

['my name is ahmed\n', ' my age is 30']