In [1]:
x = 10 
y = 20

In [2]:
x + y

30

In [3]:
x - y

-10

In [4]:
x * y

200

In [5]:
y / x

2.0

In [6]:
y // x

2

In [7]:
pow(y , x)

10240000000000

In [8]:
pow(3,2)

9

In [9]:
3 ** 2

9

In [ ]:
# logical operators 
and 
or 
in

In [10]:
True and True

True

In [11]:
False and True    # and >> *

False

In [12]:
False  * True

0

In [13]:
True or False  # or >> +

True

In [14]:
x = "amit"
"a" in x

True

In [15]:
# conditions
10 > 20

False

In [16]:
10 >= 10

True

In [17]:
10 < 20

True

In [18]:
10 <  10

False

In [19]:
10 == 10

True

In [21]:
x = int(input("Enter the num "))
if x == 10 :
    print("x equal to 10 ")
else:
    print("x not equal 10 ")

Enter the num 10
x equal to 10

In [25]:
x = int(input("Enter the num "))
if x % 2 == 0 :
    print(f"number {x} is even ")
else:
    print(f"number {x} is odd")

Enter the num 13
number 13 is odd

In [23]:
10 % 2

0

In [24]:
10 % 2 == 0

True

In [26]:
# list 
lst = [1,2,3,4,5,6]  # or lst = list([1,2,3,4,5,6])

In [27]:
type(lst)

list

In [28]:
max(lst)

6

In [29]:
lst.sort()
lst

[1, 2, 3, 4, 5, 6]

In [30]:
lst[-1]

6

In [31]:
min(lst)

1

In [32]:
lst[0]

1

In [33]:
lst.append(10)
lst

[1, 2, 3, 4, 5, 6, 10]

In [39]:
# tuple
t = (1,2,3,4)   # or t = tuple([1,2,3,4,5])
type(t)

tuple

In [41]:
id(t)

1954516024224

In [42]:
len(t)

4

In [43]:
lst = list(t)
lst

[1, 2, 3, 4]

In [44]:
lst.append(20)
lst

[1, 2, 3, 4, 20]

In [45]:
t = tuple(lst)
t

(1, 2, 3, 4, 20)

In [46]:
id(t)

1954513500928

In [48]:
s = {1,2,3,4} # or s = set([1,2,3,4])
type(s)

set

In [49]:
len(s)

4

In [50]:
s.add(5)

In [51]:
s

{1, 2, 3, 4, 5}

In [52]:
a = {1,2,3,4}
b = {3,4,5,6}
a.intersection(b)   # a & b

{3, 4}

In [53]:
a & b

{3, 4}

In [54]:
a.union(b)

{1, 2, 3, 4, 5, 6}

In [55]:
a ^ b    # >> a union b - a intersection  b

{1, 2, 5, 6}

In [57]:
a.union(b)  - a.intersection(b)

{1, 2, 5, 6}

In [62]:
# dictionary  
d = {"k1": 12 , "k2": 13}   # or d = dict([(,) , (,)])

In [63]:
d

{'k1': 12, 'k2': 13}

In [64]:
d.values()

dict_values([12, 13])

In [65]:
d.keys()

dict_keys(['k1', 'k2'])

In [66]:
lst = [10 , 20 , 13 , 15 , 14]
for i in lst:
    print(i)

10
20
13
15
14

In [75]:
for i in "amit":
    if i == "m":
#         break
#         continue
#         pass
        print(i)
    else:
        print(i)

a
m
i
t

In [80]:
for i , v in enumerate(lst):
    print(i   , v )

0 10
1 20
2 13
3 15
4 14

In [78]:
lst

[10, 20, 13, 15, 14]

In [83]:
x = 0
while x <= 10 :   # >> True     when x equal to 11 >> False 
    print(x , " amit")
    x += 1        # x = x + 1

0  amit
1  amit
2  amit
3  amit
4  amit
5  amit
6  amit
7  amit
8  amit
9  amit
10  amit

In [84]:
x

11

In [85]:
# # Functions 
# len() , type() , print() , max()  , min()  , sum()  , title() , sort() , ......
# def fun_name(args....):
def add( n1 , n2 ):
    s = n1 + n2 
    return s

In [86]:
add(10,10)

20

In [90]:
def check():
    x = int(input("enter the number "))
    if x % 2 == 0:
        print( "Even")
    else:
        print( "Odd" )

In [91]:
check()

enter the number 12
Even

In [89]:
check()

enter the number 13

'Odd'

In [92]:
lst = [1,2,3]

In [94]:
def add(l):
    s  = 0 
    for i in l :
        s = s + i
    return s

In [95]:
lst = [1,2,3]
add(lst)

6

In [96]:
add([2,3,4])

9

In [97]:
add([3,4,5,6])

18

In [99]:
m = lambda n1 , n2 : n1 + n2

In [100]:
m(10 , 10)

20

In [25]:
# class Parent:
#     speaks = ["English"]

# class Child(Parent):
#     def __init__(self , name):
#         self.name = name
#         super().__init__()
#         self.speaks.append("German")
#     def __str__(self):
#         return f"Hello, {self.name}"

In [26]:
# c = Child("ahmed")

In [244]:
# c.speaks

In [246]:
# print(c)

In [247]:
# # dog.py

# class Dog:
#     species = "Canis familiaris"

#     def __init__(self, name, age, breed):
#         self.name = name
#         self.age = age
#         self.breed = breed

#     def __str__(self):
#         return f"{self.name} is {self.age} years old"

#     def speak(self, sound):
#         return f"{self.name} says {sound}"
# class Dog_2(Dog):
#     pass

In [248]:
# print(Dog("A" , 34 , True))

In [249]:
# a = Dog_2("A" , 34 , True)

In [250]:
# print(a)

In [103]:
# Create class 
class Dog:
    pass

In [104]:
# Create Object
d1 = Dog()

In [105]:
print(d1)

<__main__.Dog object at 0x000001C713FCFDF0>

In [106]:
d2 = Dog()

In [107]:
d3 = Dog()

In [118]:
# Create class Dog 
class Dog:
#     class attribute 
    counter = 0 
#     Constructor
    def __init__(self , name , age , color ):
#         instance attribute   (object)
        self.namee = name
        self.agee  = age
        self.colorr = color
#         counter 
        Dog.counter += 1
#     instance method    >>> (self)
    def show(self):
        return f"the Dog name is {self.namee}, his age is {self.agee} and his color is {self.colorr}  , number of dogs is {Dog.counter}"

In [119]:
d1 = Dog("D1" , 3 , "black")

In [121]:
d1.show()

'the Dog name is D1, his age is 3 and his color is black  , number of dogs is 1'

In [122]:
d2 = Dog("D2" , 2 , "black_w")

In [124]:
d1.show()

'the Dog name is D1, his age is 3 and his color is black  , number of dogs is 2'

In [125]:
d2.show()

'the Dog name is D2, his age is 2 and his color is black_w  , number of dogs is 2'

In [150]:
# Students 
#     instance attribute >>> name , age , address , courses

#     instance method    >>> display()
    
#     class attribute   >>> number of students 

class Students:
    #class attribute
    n_students = 0
    def __init__(self , name , age , address  , courses):
        #instance attribute
        self.name    = name
        self.age     = age 
        self.address = address 
        self.courses = courses
        #counter
        Students.n_students += 1 
    #instance method     
    def display(self):
        print( f"student name: {self.name}")
        print(f"student age: {self.age}")
        print(f"student address: {self.address}")
        print(f"number of courses: {self.courses}")
        print(f"number of students is {Students.n_students}")
        
    def __str__(self):
        return f"student name is {self.name} and his age is {self.age}"

In [151]:
student1 = Students("ahmed" , 30 , "123" , 5 )
student2 = Students("mohamed" , 30 , "12" , 4 )

In [152]:
student1.name

'ahmed'

In [153]:
student1.age

30

In [154]:
student1.display()

student name: ahmed
student age: 30
student address: 123
number of courses: 5
number of students is 2

In [155]:
student2.name

'mohamed'

In [156]:
student2.age

30

In [157]:
student2.display()

student name: mohamed
student age: 30
student address: 12
number of courses: 4
number of students is 2

In [158]:
print(student1)

student name is ahmed and his age is 30

In [159]:
print(student2)

student name is mohamed and his age is 30

In [176]:
# Students 
#     instance attribute >>> name , age , address , courses

#     instance method    >>> display()
    
#     class attribute   >>> number of students 

class Students:
    #class attribute
    n_students = 0
    class_name = "Student"
    def __init__(self , name , age , address  , courses):
        #instance attribute
        self.name    = name
        self.age     = age 
        self.address = address 
        self.courses = courses
        #counter
        Students.n_students += 1 
    #instance method       >> instance attribute 
    def display(self):
        print( f"student name: {self.name}")
        print(f"student age: {self.age}")
        print(f"student address: {self.address}")
        print(f"number of courses: {self.courses}")
#         print(f"number of students is {Students.n_students}")
        
    def __str__(self):
        return f"student name is {self.name} and his age is {self.age}"
    
    @classmethod    # class method >> class attribute 
    def nostudents(cls):
        print(f"number of students is {cls.n_students} , {cls.class_name}")
        
    @staticmethod
    def add(n1 , n2 ):
        return n1 + n2

In [177]:
student1 = Students("ahmed" , 30 , "123" , 5 )
student2 = Students("mohamed" , 30 , "12" , 4 )

In [178]:
student1.nostudents()

number of students is 2 , Student

In [179]:
Students.nostudents()

number of students is 2 , Student

In [180]:
student1.add(10,10)

20

In [181]:
student2.add(20,20)

40

In [182]:
student1.name

'ahmed'

In [183]:
student2.name

'mohamed'

In [186]:
student1.name = "pateee"
student1.age = 300

In [187]:
student1.display()

student name: pateee
student age: 300
student address: 123
number of courses: 5

In [188]:
student1.name = "Ahmed"

In [189]:
student1.display()

student name: Ahmed
student age: 300
student address: 123
number of courses: 5

In [204]:
class Students:

    def __init__(self , name , age , address  , courses):
        #instance attribute
        self.__name    = name
        self.__age     = age 
        self.__address = add=ress 
        self.__courses = courses

    #instance method       >> instance attribute 
    def display(self):
        print( f"student name: {self.__name}")
        print(f"student age: {self.__age}")
        print(f"student address: {self.__address}")
        print(f"number of courses: {self.__courses}")

In [205]:
s1 = Students("ahmed" , 30 , "123" , 5 )
s2 = Students("mohamed" , 30 , "12" , 4 )

In [196]:
s1.display()

student name: ahmed
student age: 30
student address: 123
number of courses: 5

In [197]:
s1.name

AttributeError: 'Students' object has no attribute 'name'

In [198]:
s1.__name

AttributeError: 'Students' object has no attribute '__name'

In [199]:
s1.name = "AAAA"

In [200]:
s1.name

'AAAA'

In [202]:
s1.dddd = "asd"

In [206]:
s1.dddd

AttributeError: 'Students' object has no attribute 'dddd'

In [207]:
s1.display()

student name: ahmed
student age: 30
student address: 123
number of courses: 5

In [223]:
class Person:
    def __init__(self , name , age):
        #instance attribute
        self.name    = name
        self.age     = age  
        
    #instance method       >> instance attribute 
    def display(self):
        print( f" name: {self.name}")
        print(f" age: {self.age}")

In [224]:
p1 = Person("ahmed" , 30)

In [225]:
p1.display()

 name: ahmed
 age: 30

In [236]:
class Student(Person):
    def __init__(self , name , age , courses):
        self.courses = courses
        self.name    = name
        self.age     = age 
    def display(self):
        print(f"student name is {self.name}")
        print(f"student age is {self.age}")
        print(f"number of courses {self.courses}")

In [237]:
s1 = Student("Amit" , 30 , 3)

In [238]:
s1.display()

student name is Amit
student age is 30
number of courses 3

In [235]:
s1.show()

student name is Amit
student age is 30
number of courses 3

In [240]:
# Cars 
#     instance attribute >>> name , speed , color , model

#     instance method    >>> display()
    
#     class attribute   >>> number of Cars

# class BMW(Cars):
#     @staticmethod
#     return time   >>   distance= 1000   speed = 250  
t = distance / speed

In [241]:
t

4.0

In [242]:
class BMW(Cars):
    @staticmethod
    def calc_time(distance , speed):
        return distance / speed

In [243]:
calc_time(1000 , 250)

4.0