In [ ]:
lst = ["amit" , "learning" , "Deep learning" , "machine learning" , "CV" , "NLP"]
def max_len(l):
    
for loop 
len(i)

In [ ]:
max_len(lst) >> 16  word >> "machine learning"

In [4]:
len("cv")

2

In [6]:
lst = ["amit" , "learning" , "Deep learning" , "machine learning" , "CV" , "NLP"]
def max_len(l):
    mx = -1    # 4 ,   8  , 13 , 16
    word = ""   # amit , learning , Deep learning , machine learning
    for i in l :
        if len(i) > mx:
            mx = len(i)
            word = i
            
    return word , mx

In [8]:
w , l = max_len(lst)

In [9]:
w

'machine learning'

In [10]:
l

16

In [13]:
max(lst , key=len)

'machine learning'

In [15]:
lst.index(max(lst , key=len))

3

In [16]:
X      = [[12,7,3],[4 ,5,6],[7 ,8,9]]

Y      = [[5,8,1],[6,7,3],[4,5,9]]

result = [[0,0,0],[0,0,0],[0,0,0]]

In [43]:
# for i in X:
#     print(i)
#     for j in i :
#         print(j)

In [42]:
for i in range(len(X)):
    print(X[i])    # i = 0    , i = 1 
    for j in range(len(Y[0])):  
        print(X[i][j])    #i = 0 , j = 0 , 1 , 2    # i = 1 , j = 0 , 1 , 2

[12, 7, 3]
12
7
3
[4, 5, 6]
4
5
6
[7, 8, 9]
7
8
9

In [32]:
len(Y[2])

3

In [33]:
X = [[12,7,3],[4 ,5,6],[7 ,8,9]]

In [34]:
X[0][0]

12

In [35]:
X[1][0]

4

In [36]:
X[2][0]

7

In [40]:
X[0][2]

3

In [46]:
for i in range(len(X)):
    for j in range(len(Y[0])):  
        result[i][j]=X[i][j] + Y[i][j]
for i in result:
    print(i)

[17, 15, 4]
[10, 12, 9]
[11, 13, 18]

In [47]:
for i in range(len(X)):
    for j in range(len(Y[0])):  
        result[i][j]=X[i][j] * Y[i][j]
for i in result:
    print(i)

[60, 56, 3]
[24, 35, 18]
[28, 40, 81]

In [ ]:
# class name ShoppingCart
## instance methods 
# add_items(self , item , price)   >>  Done 
# remove_item(self,item)   >> remove_item("orange") >>  Done  , fail 
# total_price(self)  >>> orange , apple >> price >> 100
# show_items(self) >>> orange >> 50 
#                  apple  >> 50 
#                  k      >> 30

In [49]:
lst = []
def add_items(item , price):
    lst.append((item , price))

In [50]:
add_items("orange" , 50)

In [51]:
lst

[('orange', 50)]

In [52]:
add_items("apple" , 50)

In [53]:
lst

[('orange', 50), ('apple', 50)]

In [58]:
def total_price():
    s = 0
    for i in lst :
        s += i[1] 
    return s

In [59]:
total_price()

100

In [60]:
def remove_item(item):
    for i in lst:
        if i[0] == item:
            lst.remove(i)
    return lst

In [62]:
remove_item("apple")

[('orange', 50)]

In [63]:
lst

[('orange', 50)]

In [85]:
class ShoppingCart:
    def __init__(self):
        self.items = []
    # add_items(self , item , price)
    def add_items(self , item , price):
        self.items.append((item , price))
        print("Done")
        print(f"Number of items in cart is {len(self.items)}")
    
    # remove_item(self,item)    
    def remove_item(self , item):
        for i in self.items:
            if i[0] == item :
                self.items.remove(i)
                print(f"Done you removed item {item}")
    
    # total_price(self) 
    def total_price(self):
        s = 0
        for i in self.items:
            s += i[1] 
        return f"Total price is {s}" 
    
    
    # show_items(self)
    def show_items(self):
        for i in self.items:
            print(f"item {i[0]} , price {i[1]}")

In [86]:
person1 = ShoppingCart()
person1.add_items("orange" , 50)
person1.add_items("apple" , 50)
person1.add_items("k" , 50)

Done
Number of items in cart is 1
Done
Number of items in cart is 2
Done
Number of items in cart is 3

In [87]:
person1.show_items()

item orange , price 50
item apple , price 50
item k , price 50

In [88]:
person1.total_price()

'Total price is 150'

In [90]:
person1.remove_item("orange")

Done you removed item orange

In [91]:
person1.total_price()

'Total price is 100'

In [92]:
person1.show_items()

item apple , price 50
item k , price 50

In [94]:
person2 = ShoppingCart()
person2.add_items("O" , 50)
person2.add_items("A" , 50)
person2.add_items("k" , 50)

Done
Number of items in cart is 1
Done
Number of items in cart is 2
Done
Number of items in cart is 3

In [95]:
person2.show_items()

item O , price 50
item A , price 50
item k , price 50

In [96]:
person1.show_items()

item apple , price 50
item k , price 50

In [97]:
person1.items

[('apple', 50), ('k', 50)]

In [98]:
person2.items

[('O', 50), ('A', 50), ('k', 50)]

In [ ]:
class BankSystem 
login  
        1 >> ()سحب
        2 >> ()ايداع
        3 >> show_info()   >> history 
        4 >> logout()   >> Goodbye 
        
sign_up or create_n_account
  1 >> login 
        1 >> ()سحب
        2 >> ()ايداع
        3 >> show_info()
        4 >> logout()   >> 
            
سحب() 
ايداع()

show_info()   >> his balance
logout >> Goodb

In [ ]:
p1 = BankSystem()
    1 >> login()   username , password   if username , password in accounts >>
    
    2 >> create_n_account()  username , password  add username , password in accounts   done >> login()